@charset "UTF-8";

/**
* ================================================================================
*
* base.css
* version: 1.05
* Author : KENTA SAKATA
* Since  : 2010/01/06
* Update : 2014/12/10
*
* ================================================================================
*
**/

/*-------------------------------------------------------------------------
	Init
/*-----------------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
}

html {
	overflow-y:scroll;
	word-break:break-all;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

:focus {
	outline:0;
}

ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

table {
	
}

img {
	border:0;
	vertical-align:bottom;
}

address {
	font-style:normal;
}

/*-------------------------------------------------------------------------
	Setup
/*-----------------------------------------------------------------------*/
body {
	background:#fff;
	color:#000;
	font-size:14px;
	font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	line-height:1.6;
	letter-spacing:.5px;
	word-break:normal;
}

strong {
	font-weight:bold;
}

em {
	font-style:normal;
}

/*-------------------------------------------------------------------------
	Anchor
/*-----------------------------------------------------------------------*/
a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/*-------------------------------------------------------------------------
	Clearfix
/*-----------------------------------------------------------------------*/
div,ul,dl,ol {
	zoom:1;
}
	
	div:after,
	ul:after,
	dl:after,
	ol:after {
		content:"";
		display: block;
		clear:both;
		visibility:hidden;
	}
