@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

html {
	overflow-y:scroll;
	word-break:break-all;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

:focus {
	outline:0;
}

ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

table {
	
}

img {
	border:0;
	vertical-align:bottom;
}

address {
	font-style:normal;
}

body {
	background:#fff;
	color:#000;
	font-size:14px;
	font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	line-height:1.6;
	letter-spacing:.5px;
	word-break:normal;
}

strong {
	font-weight:bold;
}

em {
	font-style:normal;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

section,div,ul,dl,ol {
	zoom:1;
}

section:after,
div:after,
ul:after,
dl:after,
ol:after {
	content:"";
	display: block;
	clear:both;
	visibility:hidden;
}


#all {
	position: relative;
	width: 100%;
	height: 100vh;
}

#project-list {
	height: 100vh;
	padding: 0 1rem;
	background-color: #eee;
}

	#project-list li {
		float: left;
		width: calc(50% - 1rem);
		margin: 1rem .5rem 0;
	}

	#project-list li a {
		display: block;
		padding: 1rem 1rem;
		background-color: #fff;
		box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
		color: #3b3b3b;
	}

	#project-list li a:before {
		display: inline-block;
		content: '';
		width: 5px;
		height: 5px;
		margin-right: 5px;
		background-color: #3b3b3b;
	}

#load {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: -1em auto auto;
	text-align: center;
}

canvas {
	display: block;
}