@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

html {
	overflow-y:scroll;
	word-break:break-all;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

:focus {
	outline:0;
}

ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

table {
	
}

img {
	border:0;
	vertical-align:bottom;
}

address {
	font-style:normal;
}

body {
	background:#fff;
	color:#000;
	font-size:14px;
	font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	line-height:1.6;
	letter-spacing:.5px;
	word-break:normal;
}

strong {
	font-weight:bold;
}

em {
	font-style:normal;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

section,div,ul,dl,ol {
	zoom:1;
}

section:after,
div:after,
ul:after,
dl:after,
ol:after {
	content:"";
	display: block;
	clear:both;
	visibility:hidden;
}


#all {
	position: relative;
	width: 100%;
	height: 100vh;
}

#all.index {
	height: auto;
	min-height: 100vh;
	background-color: #273547;
}

#project-list {
	padding: 1rem;
}

	#project-list li {
		margin-bottom: 1rem;
		font-family: "Open Sans","OpenSans",sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	#project-list li:last-child {
		margin-bottom: 0;
	}

	#project-list li.featured {
		font-weight: bold;
	}

	#project-list .title {
		padding: .5rem 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		color: #a4bbd7;
		font-weight: bold;
	}

	#project-list .file {
		display: inline-block;
		margin-right: 1.5rem;
	}

		#project-list .file a {
			display: block;
			color: rgba(255,255,255,0.4);
			line-height: 1;
		}

		#project-list .file.featured a {
			color: #fff;
		}

#load {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: -1em auto auto;
	text-align: center;
}

canvas {
	display: block;
}